body, .app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  background: #000;
  color: #0707ed;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.fork img {
  display: none;
}

@media screen and (min-width: 48em) {
  .fork img {
    display: inherit;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
  }
}
